.container {
  height: 100vh;
}

.header {
  height: 250px;
  background: orange;

  & > ul {
    display: flex;
    column-gap: 15px;

    & > li {
      list-style: none;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }
}

.footer {
  height: 300px;
  background-color: cadetblue;
}
